// Colours
$bg-05: hsl(0, 0%, 5%);
$bg-10: hsl(0, 0%, 10%);
$bg-15: hsl(0, 0%, 15%);
$bg-20: hsl(0, 0%, 20%);
$bg-15-hover: hsl(0, 0%, 18%);
$search-icon: hsl(0, 0%, 44%);
$outline: hsl(0, 0%, 40%);
$divider: hsl(0, 0%, 20%);

// Text Colours
$default-text: hsl(0, 0%, 95%);
$placeholder-text: hsl(0, 0%, 50%);

// Borders
$radius-sm: 6px;
$radius-md: 8px;
$radius-lg: 10px;

// Transitions
$ease-in-out: 0.225s ease-in-out;
$ease-in: 0.225s ease-in;
$ease-out: 0.225s ease-out;
